<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title>USTER</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/toastr.min.css}">
<style type="text/css">
	.error{
		color: red;
		font-style: italic;
	}
</style>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#" th:href="@{/vehicles}">USTER</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" id="liVehicles"><a class="nav-link" id="aVehicles" href="#" th:href="@{/vehicles}">
					</a></li>
					<li class="nav-item" id="liDrivers"><a class="nav-link" id="aDrivers" href="#" th:href="@{/drivers}"></a></li>
					<li class="nav-item" id="liTripes"><a class="nav-link" id="aTripes" href="#" th:href="@{/tripes}"></a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
	
	</div>
	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring-boot.png}" alt="Spring logo" />
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> , <a href="http://www.thymeleaf.org">Thymeleaf</a> , 
				<a href="https://jquery.com/">JQuery</a> , <a href="https://www.mysql.com/">MySQL</a>.
		</p>
		<p>
			Este proyecto fue desarrollado en IDE STS
			Spring Tool Suit, por Luis Luna.<br /> &copy; Company 2020,
			Inc. Todos los derechos reservados. Términos de uso y privacidad.<br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script src="https://kit.fontawesome.com/7e4c92f23d.js" crossorigin="anonymous"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/jquery.validate.js}"></script>
		<script th:src="@{/js/toastr.min.js}"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				if (window.location.pathname == "/vehicles" || window.location.pathname == "") {
					resetNavStyles();
					$("#aVehicles").append('<span class="sr-only">(current)</span>');
					$("#liVehicles").addClass("active");
				} else if (window.location.pathname == "/drivers") {
					resetNavStyles();
					$("#aDrivers").append('<span class="sr-only">(current)</span>');
					$("#liDrivers").addClass("active");
				} else if (window.location.pathname == "/tripes"){
					resetNavStyles();
					$("#aTripes").append('<span class="sr-only">(current)</span>');
					$("#liTripes").addClass("active");
				} else {
					resetNavStyles();
					$("#aVehicles").append('<span class="sr-only">(current)</span>');
					$("#liVehicles").addClass("active");
				}
				
				function resetNavStyles() {
					$("#aVehicles").empty();
					$("#aVehicles").append("Vehículos");
					$("#liVehicles").removeClass("active");
					
					$("#aDrivers").empty();
					$("#aDrivers").append("Conductores");
					$("#liDrivers").removeClass("active");
					
					$("#aTripes").empty();
					$("#aTripes").append("Viajes");
					$("#liTripes").removeClass("active");
				}
			});
		</script>
	</footer>
</body>
</html>