<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div>
			<a th:href="@{/drivers}" class="btn btn-primary">
				<i class="fas fa-arrow-alt-circle-left fa-lg"></i>
			</a>
		</div>
		<div class="card bg-light">
			<div class="card-header">
				<h1>Detalle del Conductor</h1>
			</div>
			<div class="card-body">
				<div class="col-md-12">
					<div class="card bg-darkt">
						<div class="card-body">
							<div class="row col-md-12">
								<div class="form-group col-md-6">
									<label for="recipient-name" class="col-form-label"> 
										<b>Nombre: </b> 
										<span th:text="${#strings.capitalize(driver.name)}"></span>
									</label>
								</div>
								<div class="form-group col-md-6">
									<label for="recipient-name" class="col-form-label"> 
										<b>Apellido: </b> 
										<span th:text="${#strings.capitalize(driver.surname)}"></span>
									</label>
								</div>
								<div class="form-group col-md-6">
									<label for="recipient-name" class="col-form-label"> 
										<b>Licencia</b>
										<span th:text="${#strings.toUpperCase(driver.license)}"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="col-md-12">
					<h3>Lista de viajes</h3>
					<table class="table text-center">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Fecha</th>
								<th scope="col">Marca del Vehículo</th>
								<th scope="col">Modelo del Vehículo</th>
								<th scope="col">Placa del Vehículo</th>
								<th scope="col">Licencia Requerida</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tripe,iter: ${tripes}">
								<td th:text="${(iter.index) + 1}"></td>
								<td th:text="${tripe.date}"></td>
								<td th:text="${#strings.capitalize(tripe.vehicle.brand)}"></td>
								<td th:text="${tripe.vehicle.model}"></td>
								<td th:text="${#strings.toUpperCase(tripe.vehicle.plate)}"></td>
								<td th:text="${#strings.toUpperCase(tripe.vehicle.licenseRequired)}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout/layout :: footer"></div>
</body>
</html>